# Конфигурация приложения
DEBUG=

# Имя команды разботки
APP_NAME=jujelitsa

# Идентификатор клиента
CLIENT_ID=api-client

# Секрет клиента
CLIENT_SECRET=

# Режим окружения production/development
ENV_MODE=development

# Docker registry
DOCKER_IMAGE_VERSION=1.0.0